<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>atcg.Bio</title>
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/logreg.css">
    <link rel="stylesheet" href="/static/css/message.css">
    <link rel="icon" href="/static/img/logo.png" type="image/icon type">
    <script src="/static/js/message.js"></script>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container container">
            <input type="checkbox" name="" id="" />
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">
                <li><a href="{{ url_for('index')}}">Home</a></li>
                <li><a href="#">About</a></li>
                <button><a href="{{ url_for('submit_form')}}">Try Out</a></button>
            </ul>
            <a href="#">
    
                <h1 class="logo">
    
                    <img src="/static/img/logo.png" alt="Logo">
                    <img src="/static/img/name.png" alt="logo-name">
                </h1>
            </a>
        </div>
    </nav>


    <div class="messages">
        {% for e in error %}

        <div class="toast__container">
            <div class="toast__cell">
        
        
                <div class="toast toast--green">
                    <div class="toast__icon">
                    </div>
                    <div class="toast__content">
                        <p class="toast__type">Error !!!</p>
                        <p class="toast__message">{{e}}</p>
                    </div>
                    <div class="toast__close">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.642 15.642"
                            xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 15.642 15.642">
                            <path fill-rule="evenodd"
                                d="M8.882,7.821l6.541-6.541c0.293-0.293,0.293-0.768,0-1.061  c-0.293-0.293-0.768-0.293-1.061,0L7.821,6.76L1.28,0.22c-0.293-0.293-0.768-0.293-1.061,0c-0.293,0.293-0.293,0.768,0,1.061  l6.541,6.541L0.22,14.362c-0.293,0.293-0.293,0.768,0,1.061c0.147,0.146,0.338,0.22,0.53,0.22s0.384-0.073,0.53-0.22l6.541-6.541  l6.541,6.541c0.147,0.146,0.338,0.22,0.53,0.22c0.192,0,0.384-0.073,0.53-0.22c0.293-0.293,0.293-0.768,0-1.061L8.882,7.821z">
                            </path>
                        </svg>
                    </div>
                </div>
        
        
            </div>
        </div>
        <br>
        {% endfor %}
    </div>

    <div class="contents">  

        <br><br>
        <br><br>
        <div class="main">  	
            {% if message %}
              <li>{{message}}</li>
            {% endif  %}
            <input type="checkbox" id="chk" aria-hidden="true">
    
                <div class="signup">
                    <form method="post" action="/register" name="signup">
                        <label for="chk" aria-hidden="true">Login</label>
                        <input type="email" name="email" placeholder="Email" required="">
                        <input type="password" name="pswd" placeholder="Password" required="">
                        <button class="btn1">Login</button>
                    </form>
                </div>
                
                <div class="login">
                    <form method="post">
                        <label for="chk" aria-hidden="true">Sign up</label>
                        <input type="email" name="email" placeholder="Email" required="">
                        <input type="password" name="pswd" placeholder="Password" required="">
                        <input type="password" name="confirmpswd" placeholder="Confirm Password" >
                        <button class="btn">Sign up</button>
                    </form>
                </div>
        </div>
        
    </div>
    <div class="">

        {% if val %}
        <p>{{val}} qwertdfedfdw</p>
    {% endif %}
    {% if error %}
    <p>{{error}} errror</p>
{% endif %}

    </div>
    
    <footer>
        <div class="bottom">
        </div>
    </footer>
</body>
</html>